body{
	font-family: 'Roboto Slab', serif;
}
h1, h2{
	font-weight: bold;
	font-size: 3rem;
	line-height: 1.5;
}
@media (max-width: 992px)
{
	h1,h2{
		font-size: 2rem;
		line-height: 1.2;
	}
}
h3{
	font-weight: bold;
	
	font-size: 2.5rem;
	line-height: 1.5;
}

/*Title section*/
#title{
	background-color: #585858;
	color:  white;
	text-align: center;
}
.container-fluid{
	padding: 3% 15% 12% 15% ;
}
@media (max-width: 992px)
{
	.container-fluid{
		padding: 3% 1.5% ;
	}
	
}
/*Navigation bar*/
.navbar{
	padding-bottom: 10%;
	padding-left: 0;
}

.navbar-brand{
	font-size: 2.5rem !important;
	font-weight: bold;
}
.nav-item{
	padding-left:30px;
	font-size: 1.2rem;
}
#header-quote{
	margin-bottom: 10%;
	text-align: center;
}
#main-photos img{
	width: 100%;
	height: 100%;
}


/*Section quotes*/
#quotes{
	text-align: center;
	padding-top: 10%;
	padding-bottom: 10%;
	background-color: #fff;
	text-align: center;
}
#quotes i{
	font-size: 5rem;
	padding-top: 10%;
	padding-bottom: 5%;
	color: darkgrey;
}
#quotes i:hover{
	color: lightgray;
}
#quotes p{
	font-weight: light;
	color: grey;
	width: 70%;
	margin: auto;
}
#quotes .feature-box{
	padding-left: 3%;
}


/*Experience section*/
#experience{
	text-align: center;
	background-color: #585858;
	color: white;
	margin: 1% auto;
}
#experience img{
	padding-top: 5%;
	width: 15%;
}
.carousel-item{
	padding: 5% 15%;
}

/*Photos Section*/

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 9px;
	margin:0 auto;
	margin-bottom: 1px;
	
  }
  .column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;

  }
  .column img {
	margin-top: 5px;
	vertical-align:center;
	width: 100%;
  }
  .m{
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
  }
  .m img {
	margin-top: 5px;
	vertical-align: middle;
	width: 100%;
  }
  .l {
	flex: 25%;
	max-width: 20%;
	padding: 0 4px;
  }
  .l img {
	margin-top: 5px;
	vertical-align: middle;
	width: 100%;
  }
  .s {
	flex: 25%;
	max-width: 30%;
	padding: 0 4px;
  }
  .s img {
	margin-top: 5px;
	vertical-align: middle;
	width: 100%;
  }
 
  
  
  @media screen and (max-width: 800px) {
	.column {
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
  @media screen and (max-width: 600px) {
	.column {
	  flex: 100%;
	  max-width: 100%;
	}
  }
  @media screen and (max-width: 800px) {
	.l {
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
  @media screen and (max-width: 600px) {
	.l {
	  flex: 100%;
	  max-width: 100%;
	}
  }
  @media screen and (max-width: 800px) {
	.s {
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
  @media screen and (max-width: 600px) {
	.s {
	  flex: 100%;
	  max-width: 100%;
	}
  }
  @media screen and (max-width: 800px) {
	.m {
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
  @media screen and (max-width: 600px) {
	.m {
	  flex: 100%;
	  max-width: 100%;
	}
  }

/*Footer*/
#footer{

	text-align: center;
	margin:0;
}
#footer a{
	padding: 2%;
	font-size: 2rem;
	background-color:  white;
	border-radius: 50%;
}
.tw{
  	color:#00acee ;
}
.in{
	color: #E1306C ;

}

.tw:hover{
	text-decoration: none;
	color: #1DA1F2;
}

.in:hover{
	text-decoration: none;
	color: #C13584;
}
.fb:hover{
	text-decoration: none;
}
